body {
    background: #370617;
}

section {
    display: inline-block;
}

.container {
/* First block */
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #F48C06;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  
}
.container-second {
/* Second block */
    width: 468px;
    height: 160px;   
    border-radius: 8px;   
    background-color: #F48C06;  
    margin: 20px;
    display: flex ;
    justify-content: flex-end;
    align-items: center;

    
}


.container-third {
    /* Second block */
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: #F48C06;
    margin: 20px;
    display: flex; 
    justify-content:center;
    align-items: center;
}





.box {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    margin: 20px;
    background-color: chartreuse;
}


    
  